.FinancialsPaytostaff__content__all__checkbox {
  display: flex;
}

.FinancialsPaytostaff__content__all__main {
  background-color: #fff;
  width: 90%;
  margin-top: 2em;
  height: 80%;
  padding: 2em;
  border-radius: 10px;
}

.FinancialsPaytostaff__content__all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.FinancialsPaytostaff__content__all__checkbox {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.FinancialsPaytostaff__content__all__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
  color: #272769;
}

.FinancialsPaytostaff__content__all__button {
  padding: 0.7em 2em;
  border-radius: 10px;
  background-color: #5f60ed;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.FinancialsPaytostaff__content__all__button:hover {
  background-color: #3f40d6;
}

.FinancialsPaytostaff__content__all__checkbox__title {
  font-size: 16px;
  font-weight: bold;
  color: #272769;
  margin-right: 1em;
}

.FinancialsPaytostaff__content__all__checkbox {
  margin: 0.5em 0em;
}
