$primary: #222a5a;
.model__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5f60ed;
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.model__content {
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 2.5em;
  margin: 2em;
  border-radius: 15px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.loginpage__content__logo {
  margin-bottom: 1em;
}

.loginpage__content__heading {
  font-size: 30px;
  margin-bottom: 0.4em;
}

.loginpage__content__heading span {
  font-weight: bold;
}

.loginpage__content__info {
  font-size: 18px;
  font-weight: bold;
  color: $primary;
  margin-bottom: 3em;
}

.loginpage__content__button {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #1b1b1b;
  padding: 0.5em 1.5em;
  border-radius: 8px;
  cursor: pointer;
}
.add__school__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add__school__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add__school__header__heading {
  font-size: 30px;
  margin: 1em 0em;
  color: $primary;
}
.add__school__header__heading span {
  font-weight: bold;
}
.add__school__input__wraper {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3em 0em;
}
.add__school__input {
  width: 100%;
  padding: 0.5em 1em;
  border: none;
  border-bottom: 1px solid #444141;
  margin-bottom: 1em;
  outline: none;
}
.add__school__input::placeholder {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.5;
}
.add__school__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0em;
}
.add__school__button__entry {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f60ed;
  padding: 12px 30px;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
}
.add__school__button__entry__text {
  font-size: 14px;
  font-weight: bold;
  margin-right: 9px;
}
.school__header__sub__heading {
  font-size: 14px;
  margin-bottom: 2em;
  color: #5f60ed;
  font-weight: bold;
}
.signal__input__entry__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signal__input__entry {
  width: 100%;
  padding: 0.5em 0em;
  border: none;
  border-bottom: 1px solid #444141;
  margin: 1em 0.3em;
  outline: none;
}
.signal__input__entry::placeholder {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  opacity: 0.5;
}
.input__multi__entry__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input__multi__entry {
  width: 100%;
  padding: 0.5em 0em;
  border: none;
  border-bottom: 1px solid #444141;
  margin: 1em 0.3em;
  outline: none;
}
.input__multi__entry::placeholder {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  opacity: 0.7;
}
.add__class__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 18px;
  font-weight: bold;
  margin: 1em;
  color: #272769;
}
.add__section__btn__wraper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
}
.add__section__btn__entry {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  border-radius: 12px;
  border-style: dashed;
  border-color: #94949b;
  border-width: 2px;
  cursor: pointer;
  font-weight: bold;
}
.signal__input__entry__wraper__svg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.signal__input__entry__wraper__svg svg {
  margin: 15px;
  cursor: pointer;
}
.member__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.member__card {
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #222a5a;
  color: white;
  padding: 1em;
  border-radius: 12px;
  margin: 12px;
}
.member__card__heading {
  font-size: 20px;
}
.member__card__deatil {
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0px;
}
@media (max-width: 600px) {
  .member__card {
    width: 100%;
  }
  .member__card__heading {
    font-size: 16px;
  }
  .member__card__container {
    flex-direction: column;
  }
  .model__content {
    padding: 1em;
  }
  .add__school__header__heading {
    font-size: 18px;
    text-align: center;
  }
  .input__multi__entry__wraper {
    flex-direction: column;
  }
}
